backoff==2.2.1
boltons==25.0.0
click==8.3.1
datadog==0.52.1
dockerflow==2024.4.2
everett==3.5.0
falcon==4.2.0
fillmore==2.2.0
gunicorn==23.0.0
honcho==2.0.0
inotify_simple==2.0.1
jsonschema==4.25.1
markus[datadog]==5.2.0
msgpack==1.1.2
pip-tools==7.4.1
pytest==9.0.1
PyYAML==6.0.3
requests==2.32.5
requests-mock==1.12.1
ruff==0.14.7
sentry-sdk==2.22.0
Sphinx==8.2.3
sphinxcontrib-httpdomain==1.8.1
sphinx-rtd-theme==3.0.2
symbolic==12.17.0
urllib3==2.5.0
werkzeug==3.1.4
# Mozilla obs-team libraries that are published to GAR instead of pypi
--extra-index-url https://us-python.pkg.dev/moz-fx-cavendish-prod/cavendish-prod-python/simple/
obs-common==2025.9.2.2
